In [1]:
# Import libraries

import numpy as np  # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import matplotlib.pyplot as plt # For plotting

import sys, os                  # For adding the RaschPy library to the path


sys.path.append(os.path.abspath("C:/Users/brf337/Desktop/Rasch package/Rasch-models-in-Python-and-R/Python code"))
import RaschFunctions as rf # Loading Rasch functions library


sys.path.append(os.path.abspath("C:/Users/brf337/Desktop/Rasch package/RaschPy/RaschPy"))
import __init__ as Rasch # Loading the RaschPy library

In [21]:
# Read the data
OHS = pd.read_csv("C:/Users/brf337/Desktop/Rasch package/OHS.csv", delimiter = ";")

# Remove rows with missing values
OHS = OHS.dropna()

# Dichotomize the data
OHS_dich = rf.dichotomize_data(OHS, 2, list(OHS.columns))

We carry out a similar analysis in Python using the RaschPy package. We use the same binary data as in the previous Rasch analysis. The first step is to create an object of a class SLM:

In [24]:
OHS_RaschPy = Rasch.SLM(OHS_dich)
OHS_RaschPy.item_stats_df(full = False)

To retrieve the estimates we run the following code:

In [25]:
OHS_RaschPy.item_stats

    Estimate     SE  Count  Facility  Infit MS  Outfit MS
1      3.317  0.396    206     0.039     0.737      0.570
2     -2.843  0.274    206     0.752     0.842      0.721
3     -0.558  0.187    206     0.432     0.718      0.575
4     -1.852  0.221    206     0.646     0.838      1.038
5     -1.937  0.207    206     0.631     0.769      0.566
6     -0.843  0.216    206     0.471     1.090      1.107
7      1.324  0.221    206     0.214     0.682      0.478
8      0.381  0.181    206     0.286     0.867      0.802
9     -0.265  0.186    206     0.383     0.909      0.950
10     0.270  0.205    206     0.286     1.175      1.337
11     0.441  0.200    206     0.286     0.798      0.706
12     2.565  0.548    206     0.053     0.677      1.563

This also provides the item fit statistics Infit MS and Outfit MS. We can finally retrieve the person stats:

In [26]:
OHS_RaschPy.person_stats_df()
OHS_RaschPy.person_stats

,Estimate,CSEM,Score,Max score,p,Infit MS,Infit Z,Outfit MS,Outfit Z
0,-1.062,0.740,4,12,0.333,1.117,0.432,0.899,0.216
1,0.415,0.727,7,12,0.583,0.565,-1.452,0.405,-0.912
2,-3.327,NaN,0,12,0.000,NaN,NaN,NaN,NaN
3,-1.062,0.740,4,12,0.333,0.737,-0.678,0.606,-0.150
4,-3.327,NaN,0,12,0.000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
205,-2.984,1.015,1,12,0.083,0.452,-0.934,0.185,0.376
206,2.283,0.925,10,12,0.833,0.334,-1.448,0.179,-0.306
207,-0.558,0.718,5,12,0.417,0.503,-1.759,0.378,-0.812
208,-1.612,0.784,3,12,0.250,0.417,-1.738,0.280,-0.377
209,-1.062,0.740,4,12,0.333,0.967,0.028,0.693,-0.030